h1 {
    color: #27aedb;
    text-align: center;
    }
button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 44%;
    margin-right: 45%;
}

bpdy {
    all:unset;
    background-color: lightblue;
}
h1 {
    text-align: center;
    color: saddlebrown;
    font-size: 120px;
}
